@font-face {
     font-family: './font/Inter';
     src: url('./font/Inter-SemiBold.woff2') format('woff2'),
     url('./font/Inter-SemiBold.woff') format('woff');
     font-weight: 600;
     font-style: normal;
     font-display: swap;
}

@font-face {
     font-family: './font/Inter';
     src: url('./font/2') format('woff2'),
     url('./font/') format('woff');
     font-weight: 500;
     font-style: normal;
     font-display: swap;
}

@font-face {
     font-family: './font/Inter';
     src: url('./font/Inter-Bold.woff2') format('woff2'),
     url('./font/Inter-Bold.woff') format('woff');
     font-weight: bold;
     font-style: normal;
     font-display: swap;
}

@font-face {
     font-family: './font/Inter';
     src: url('./font/Inter-Regular.woff2') format('woff2'),
     url('./font/Inter-Regular.woff') format('woff');
     font-weight: normal;
     font-style: normal;
     font-display: swap;
}




/* GLOBALL */

html{
     height: 100%;
     box-sizing: border-box;
     scroll-behavior: smooth;
}

*,
*::before,
*::after{
     box-sizing:border-box;
}

body{
     display: flex;
     height: 100%;
     padding: 0;
     margin: 0;
     flex-direction: column;
     background-color:  #f2f4fe;
}

img{
     max-width: 100%;
     height: auto;
}

*:focus{
     outline: 1px dotted rgba(101, 90, 242, 1);
     outline-offset: 3px;
}
/* CONTAINER  */

.container{
     width: 100%;
     max-width: 1250px;
     padding-left: 50px;
     padding-right: 50px;
     margin-top: 30px;
     margin-left: auto;
     margin-right: auto;
     color: #fff;
}
.site-container{
     display: flex;
}
/* ROOT  */
:root{
     --site-color: #ffff;
     --site-font-weight4: 400 ;
     --site-font-weight5: 500 ;
     --site-font-weight6: 600 ;
     --site-font-weight7: 700 ;
     --site-font-family: "./font/Inter";
     --site-font-style4: "Regular" ;
     --site-font-style5: "Medium" ;
     --site-font-style6: "Sami Bold" ;
     --site-font-style7: "Bold" ;
}
header{
     width: 100%;
     max-width: 570px;
     height: 640px;
     padding-left: 60px;
     padding-right: 121px;
     margin-left: auto;
     margin-right: auto;
     background-image: url(./img/bg.svg);
     background-size: contain;
     background-position: center center;
     background-repeat: no-repeat;
}
main{
     width: 100%;
     max-width: 570px;
     height: 640px;
     padding-left: 60px;
     padding-right: 121px;
     margin-left: auto;
     margin-right: auto;
     background-color: #fff;
     border-radius: 20px;
     color: black;

}
.signup-form {
     width: 100%;
     max-width: 570px;
     /* padding: 55px; */
     padding-top: 10px;
     margin-top: 0;
}
.signup-form-heading {
     font-size: 32px;
     line-height: 42px;
     font-family: var(--site-font-family);
     font-style: var(--site-font-style6);
     margin-bottom: 65px;
}
.signup-form-fields {
     padding-right: 50px;
     display: flex;
     flex-direction:column;
     margin-bottom: 65px;
}
.signup-form-field {
     padding-top: 15px;
     padding-bottom: 15px;
     border: 0;
     border-bottom: 1px solid #555555;
     color: #555;
     font-size: 16px;
     line-height: 19px;
     font-family: var(--site-font-family);
     font-style: var(--site-font-style4);
}
.signup-form-field:focus{
     border-color:#000;
     color: #000;
     font-weight: var(--site-font-style6);
     font-size: 18px;
}
.signup-form-field:not(:last-child){
     margin-bottom: 20px;
}
.signup-form-submit {
     display: block;
     width: 100%;
     border: 0;
     padding: 20px;
     margin-bottom: 8px;
     border-radius: 10px;
     background-color: #655AF2;
     color: #fff;
     font-size: 16px;
     font-style: var(--site-font-style6);
     cursor: pointer;
}
.signup-form-notice {
     font-size: 11px;
     line-height: 15px;
     text-align: center;
     letter-spacing: 0.5px;
     font-weight: var(--site-font-weight5);
}
.signup-form-notice-link {
     color: rgba(240, 53, 53, 1);
     font-weight: var(--site-font-weight5);
     font-size: 11px;
     line-height: 15px;
     letter-spacing: 0.5px;
}

.sign-up {
     max-width: 178px;
     margin-top: 60px;
     margin-bottom: 65px;
     padding-right: 0;
     border: 1px solid #fff;
     padding: 5px 15px;
     border-radius: 41px;
     font-size: 14px;
     line-height: 17px;
     font-family: var(--site-font-family);
     font-style: var(--site-font-style5);
}
.sign-up-heading {
     margin-right: 25px;
     font-size: 36px;
     line-height: 46px;
     font-family: var(--site-font-family);
     font-style: var(--site-font-style7);
}
.sign-up-text {
     margin-bottom: 203px;
     font-size: 16px;
     line-height: 26px;
     font-family: var(--site-font-family);
     font-style: var(--site-font-style4);
     padding-right: 20px;
}
.sign-up-link {
     text-decoration: none;
     text-align: center;

}
.sign-up-link-text {
     background-color: #4DC490;
     padding: 23px 30px;
     margin-right: -121px;
     margin-left: -60px;
     border-bottom-left-radius: 20px;
     border-bottom-right-radius: 20px;
     font-family: var(--site-font-family);
     font-style: var(--site-font-style7);
     font-size: 19px;
     line-height: 23px;
     color: #fff;
}
.sign-up-link:hover{
     opacity: 0.8;
}
.sign-up-link:active{
     opacity: 0.6;
}



@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and ( min-resolution: 192dpi),
only screen and ( min-resolution: 2dppx) {
     header{
          background-image:url(./img/bg@2x.svg);
     }
}